<!DOCTYPE html>
<html>
<head>
  <title>MountaineersApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end%>
  <% if current_mountaineer %>
  <%= link_to "sign_out", sign_out_path %>
  <% else %>
  <%= link_to "sign in", sign_in_path %>
  <% end %>
<%= yield %>

</body>
</html>
